*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
}
h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}
